<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>#0099CC</string>
	<string>#99CCFF</string>
	<string>#66CCCC</string>
	<string>#FFCC33</string>
	<string>#669933</string>
	<string>#CCCCFF</string>
	<string>#FF9966</string>
	<string>#66CC00</string>
	<string>#99CCFF</string>
	<string>#FFFF66</string>
	<string>#FF9999</string>
</array>
</plist>
