<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>#FF6666</string>
	<string>#FFCC00</string>
	<string>#009966</string>
	<string>#99CC33</string>
	<string>#99CCFF</string>
	<string>#0099FF</string>
	<string>#336699</string>
</array>
</plist>
